* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: violet;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

li {
    background-color: darksalmon;
    padding: 4px 8px;
}

footer {
    background-color: darkorange;
}

footer p {
    font-size: 10px;
    color: aliceblue;
}